<nav class="nav">
  <p onclick="history.go(-1)" class="back text_inde">返回</p>
  <h1>订单列表</h1>
</nav>


<div class="car_all">
<div class="car ">
   <ul class="clearfix">
    <li style="width:0%;">
    </li>
    <li  class="carpic clearfix" style=" width:80%; background: url(/Public/Home/Res/images/carpic_03.jpg) no-repeat 6px top; background-size:92px;">
      <dl>
        <dd>商品名称商品名称商品名称</dd>
        <dd>
         单价：<span>89</span>元 x1,合计：<span class="rednum">299</span>元
        </dd>
        <dd>交易状态：<span style="color:#E89900;">已付款</span></dd>
        <dd>2015-10-25 &nbsp;18:30</dd>
      </dl>
    </li>
    <li style="width:20%; padding-top:2px;"><input type="button" class="delets" value="取消"><input type="button" class="delets" value="查看" style="margin-top:4px;background-color:#E89900;"></li>
  </ul>
</div>
</div>
